<!--
  ~ +---------------------------------------------------------------------+
  ~ | This file is part of chem-inventory.                                |
  ~ |                                                                     |
  ~ | Copyright (c) 2020 Sandor Semsey                                    |
  ~ | All rights reserved.                                                |
  ~ |                                                                     |
  ~ | This work is published under the MIT License.                       |
  ~ | https://choosealicense.com/licenses/mit/                            |
  ~ |                                                                     |
  ~ | It's a free software;)                                              |
  ~ |                                                                     |
  ~ | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,     |
  ~ | EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES     |
  ~ | OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND            |
  ~ | NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS |
  ~ | BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN  |
  ~ | ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN   |
  ~ | CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE    |
  ~ | SOFTWARE.                                                           |
  ~ +---------------------------------------------------------------------+
  -->

<phpunit bootstrap="public/bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnDefect="false"
         beStrictAboutChangesToGlobalState="true"
         defaultTestSuite="all"
         testdox="true"
>
    <filter>
        <whitelist>
            <directory suffix=".php">public/source</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="tests/reports"/>
    </logging>
</phpunit>
